:root {
  --hue--: 150;
  --green-light--: hsl(var(--hue--), 100%, 44%);
  --white--: hsl(var(--hue--), 0%, 98%);
  --gray-200--: hsl(var(--hue--), 0%, 20%);
  --gray--: hsl(var(--hue--), 0%, 51%);
  --gray-400--: hsl(var(--hue--), 0%, 13%);
  --dark--: hsl(var(--hue--), 0%, 9%);
}
body {
  background-color: var(--dark--);
}

.email svg path {
  stroke: var(--green-light--);
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-inline: auto;

  border: 2px solid var(--green-light--);

  padding: 2rem;

  text-align: center;

  width: 400px;

  color: white;

  font-family: 'roboto';
}

button {
  width: 150px;
  height: 30px;

  border: none;
  border-radius: 10px;

  background: var(--green-light--);

  font-size: 1rem;
  font-family: 'roboto';
  font-weight: 500;
}
a {
  text-decoration: none;
  color: white;
}
footer {
  text-align: center;

  margin-top: 5rem;

  font-family: 'roboto';
  font-size: 0.8rem;

  color: white;
}
